import "../styles/output.css";
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dall·E with Node</title>
  </head>
  <body class="w-screen h-screen flex flex-col items-center justify-center gap-6 bg-black">
    <app-main/>
  </body>
</html>
