export interface Input {
  src: string;
}
class {
  sayHi() {
    console.log("halo");
  }
}

<form
  class="flex flex-col gap-6 items-center"
  hx-post="/images"
  hx-target="#img"
  hx-swap="outerHTML"
>
  <button class="text-white" type="submit" hx-indicator="#spinner">
    Generate
  </button>
  <input name="prompt">
  <img-content src=input.src/>
  <span
    class="material-symbols-outlined text-white htmx-indicator"
    id="spinner"
  >
    hourglass_top
  </span>
</form>
