class {
  sayHi() {
    console.log("halo");
  }
}

<div>
  <!-- @ts-ignore -->
  <h1
    hx-trigger="click"
    hx-post="/images"
    hx-target="#img"
    hx-swap="outerHTML"
    class="text-white"
  >
    Hello!
  </h1>
  <img-content src=input.src/>
</div>
